footer.footer
      .content.has-text-centered
        p
          strong Faast Space&nbsp;
          | build with 💖 for developers
      .content.has-text-centered
        .containers
          .columns
            .column.is-4
              h3 Contact
              p
                a(href='https://twitter.com/Faast73722090' target='_BLANK')
                    i.fab.fa-twitter.fa-2x.fa-fw
                a(href='https://gitter.im/faast-space/Lobby' target='_BLANK')
                    i.fab.fa-gitter.fa-2x.fa-fw